:root {
	/* Colors pulled from: http://chriskempson.com/projects/base16/ */
	--color-base00: #181818;
	--color-base01: #282828;
	--color-base05: #d8d8d8;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	background: var(--color-base00);
	color: var(--color-base05);
}

*, *:before, *:after {
	box-sizing: inherit;
}

nav {
	background: var(--color-base01);
	width: 20%;
}

main {
	flex: 1 0 auto;
}

#test_button {
	width: 20%;
	height: 20%;
}
